.top{
    display: flex;

    gap: 10%;
    .left{
        width: 45%;

    }
    .right{
        width: 45%;

    }

}
.buttom{
    width: 100%;
}


@media only screen and (max-width: 768px) {

    .top{
        flex-direction: column;
        gap: 50px;
        .left{
            width: 100%;
    
        }
        .right{
            width: 100%;
    
        }
    }
}
