.activities{
display: flex;
gap: 10px;
flex-direction: column;
h1{
    color: white;
}
.flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    .link{
        color: white;
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
        &:hover{
            background-color: #333;
            color: var(--primary-color);
        }
    }

    
}
}