footer{
    background-color: var(--dark-grey);
    padding: 55px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    z-index: 9;
    .flex{
        display: flex;
    }
    p{
        text-align: center;
        font-size: 20px;
        .name{
            color: var(--primary-color);
            text-decoration: none;
            &:hover{
                color: white;
            }
        }
    }
}