.home-activities{
    h1{
        text-align: center;
        font-size: 40px;
        padding-top:50px ;
        color: white;
    }
    background-color: var(--accent-color);
    .other-activities-cards{
        position: relative;
        left: 10%;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}