
:root {
  --primary-color: #007bff;
  --secondary-color: #6f42c1;
  --accent-color:#5bc0de;
  --light-grey: #f8f9fa;
  --dark-grey: #234669;
  --white: #fff;
}
*{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
}
.heading{
  /* color: #007acc; */
  padding: 20px;
  border-left: 20px solid var(--primary-color);
}
.format{
  font-size: 20px;
  word-spacing: 5px;
  text-align: justify;


}
.bold-color{
  font-weight: bold;
  color: var(--primary-color);
}
.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.main-content{
  margin-top: 98px;
}
.sub-main{
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  left: 5%;
  width: 90%;
  
}
